.button-blue {
  background-color: #305F73;
  padding: 10px 15px;
  border-radius: 10px;
  color: white;
  font-family: "Lora";
  font-size: 20px;
}

.button-blue:hover {
  opacity: 0.8;
  text-decoration: underline;
}
